/* .container {
    margin-left: 100px;
    margin-right: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#img {
    max-height: 17px;
    vertical-align: middle;
    top: 18px;
} */
